body {
    background-color: black;
}
h1 {
    color: white;
    font-family: 'Courier New', Courier, monospace;
    position: relative;
}
p3 {
    color: white;
    font-family: 'Courier New', Courier, monospace;
    position: relative;
 }
 .img7 {

 }
