body {
     background-image: url(img/stars\ .jpg); */
     background-repeat: no-repeat; */
     background-size: cover; */
}

p1 {
    color: white;
    font-family:'Courier New', Courier, monospace;
  
}